.navbar {
    font-family: mic-32-new-rounded-web, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #575757;
    width: 4vw;
}
.navbar:hover{
    color: #00649E;
    cursor: pointer;
}
