/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////// HOME HEADER //////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
.a {
  height: 3.47vw;
  background-color: var(--myColor);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.03vw solid #658cbf;
}
.aA {
  /* width: 16vw; */
  height: 90%;
  /* background-image: url(../../assets/ic_fuel.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  object-fit: contain;
  margin-left: 1vw;
}
.aB {
  width: 25vw;
  height: 100%;
  background-image: url(../../assets/ic_energy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.aC {
  display: flex;
  align-items: center;
}
.aCa {
  margin: 0 0.4vw;
  width: 2.2vw;
  height: 2.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.aD {
  display: flex;
  align-items: center;
}
.aDb {
  margin: 0.5vw;
}
.aDbA {
  font-size: 0.75vw;
  font-weight: 200;
}
.aDbC {
  font-size: 0.85vw;
}
.aDc {
  width: 2.2vw;
  height: 2.2vw;
  margin: 0.4vw;
  border-radius: 50%;
  margin-right: 2vw;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////// HOME BODY ///////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
.b {
  position: fixed;
  top: 3.5vw;
  bottom: 0;
  left: 3.5vw;
  right: 0;
  background-color: #eef1f5;
}
.c {
  transition: 0.2s;
  position: fixed;
  top: 3.5vw;
  bottom: 0;
  left: 0;
  width: 3.5vw;
  background-color: var(--myColor);
  padding-top: 3.5vw;
  overflow: hidden;
}
.c:hover {
  transition: 0.3s;
  width: 13vw;
}
.cA {
  height: calc(100vh - 12vw);
  overflow: auto;
}
.cAa,
.cAa_ {
  width: calc(100% - 3.5vw);
  margin: 1vw 0;
  height: 2.8vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 3vw;
  margin-right: 0.2vw;
  border-end-end-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  filter: opacity(0.5);
  background-position: 1vw 0.8vw;
  background-repeat: no-repeat;
  background-size: 1.2vw;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1vw;
}
.cAa:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.cAa_ {
  font-weight: 500;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  filter: opacity(1);
}
.cAa:hover + .cAb {
  transition: 0.3s;
  height: 15vw;
}
.cAb:hover {
  transition: 0.3s;
  height: 15vw;
}
.cAb,
.cAb_,
.cAb__ {
  transition: 0.3s;
  overflow: hidden;
  height: 0;
}
.cAb_ {
  height: 15vw;
}
.cAbA,
.cAbA_ {
  padding: 0.5vw 1vw;
  padding-left: 3vw;
  cursor: pointer;
  font-size: 0.7vw;
  color: rgba(255, 255, 255, 0.6);
}
.cAbA_ {
  color: white;
}
.cB {
  height: 3.8vw;
  width: 12vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0.7vw;
  background-image: url(../../assets/ic_fuel.svg);
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////// PROFILE POPUP ////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
.d {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dA {
  position: absolute;
  top: 2vw;
  right: 1vw;
  padding: 0.5vw;
  border-radius: 0.4vw;
  background-color: white;
  box-shadow: 0 0 0.8vw #8888888f;
}
.dAa {
  text-align: right;
  padding: 0.5vw;
  color: #343434a2;
  font-size: 0.9vw;
  cursor: pointer;
}
.dAa:hover {
  color: #343434;
}
